{% if action == 'remove' %}
    <button id="read-later-button-{{ news.id }}" hx-post="{% url 'news:remove_from_read_later' news.id %}" hx-target="#read-later-button-{{ news.id }}" hx-swap="outerHTML" class="btn btn-danger"><i class="fas fa-times"></i></button>
{% else %}
    <button id="read-later-button-{{ news.id }}" hx-post="{% url 'news:add_to_read_later' news.id %}" hx-target="#read-later-button-{{ news.id }}" hx-swap="outerHTML" class="btn btn-primary"><i class="fas fa-bookmark"></i></button>
{% endif %}
